/* Definindo variáveis de cores */
:root {
    --color1: #67291e;     /* Cor 1 */
    --color2: #511f16;     /* Cor 2 */
    --color3: #3c150f;     /* Cor 3 */
    --color4: #260a07;     /* Cor 4 */
    --color5: #110000;     /* Cor 5 */
    --color6: rgba(0, 0, 0, 0.5); /* Cor de fundo mais transparente */
    --text-color: #e3d794; /* Cor do texto (Branco) */
    --font-family: 'Arial', sans-serif; /* Fonte padrão */
}

/* Estilo básico para o corpo da página */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--color2); /* Cor de fundo (Cor 2) */
    color: var(--color5); /* Cor do texto padrão (Cor 5) */
}
.icon img {
    max-width: 100%; /* A imagem não deve exceder a largura do contêiner */
    height: auto; /* A altura ajustará automaticamente para manter a proporção */
    display: block; /* Para evitar espaços indesejados abaixo da imagem */
    margin: 0 auto; /* Centralize a imagem horizontalmente */
}

/* Estilo do cabeçalho (menu) */
header {
    background-color: var(--color1); /* Cor de fundo do cabeçalho (menu) (Cor 1) */
    border-top: 5px solid var(--color3); /* Contorno na parte superior (Cor 3) */
    color: var(--text-color); /* Cor do texto do cabeçalho (menu) (Branco) */
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Estilo da divisão transparente entre o menu e o conteúdo */
.header-divider {
    background-color: var(--color6); /* Cor de fundo mais transparente */
    height: 10px; /* Altura da divisão */
}

/* Estilo do menu centralizado */
.menu {
    background-color: var(--color1); /* Cor de fundo do menu (Cor 1) */
    color: var(--text-color); /* Cor do texto do menu (Branco) */
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--text-color); /* Cor do texto do menu (Branco) */
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu ul li a:hover {
    background-color: var(--color4); /* Cor de fundo no hover do menu (Cor 4) */
}

/* Estilo da seção "Sobre Nós" */
.about-us {
    padding: 20px;
    text-align: justify; /* Justificar o texto */
    background-color: var(--color6); /* Cor de fundo mais transparente */
}

.about-us img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Borda arredondada para a imagem */
}

.about-us h2 {
    font-size: 24px;
    margin: 20px 0;
    color: var(--text-color); /* Cor do título da seção (Cor 1) */
}

.about-us p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color); /* Cor do texto da seção (Branco) */
    font-family: 'Helvetica', sans-serif; /* Fonte diferente para o texto */
}

/* ESTILO CONTATO.HTML*/

.main-container {
    background-color: #511f16; /* Defina aqui a cor marrom claro desejada */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    min-height: 10vh;
  }
  
  /* Estilo para o conteúdo dentro de main (CONTATO.HTML) */
  main #location {
    margin-bottom: 20px;
  }
  #location p strong {
    font-size: 1.2em; /* Aumente o tamanho da fonte */
    font-weight: bold; /* Torna a fonte mais grossa */
  }
  
  #restaurant {
    background-color: #e3d794; /* Cor de fundo  */
    padding: 20px; /* Aumente o padding para torná-lo um pouco maior */
    border-radius: 5px; /* Mantenha a borda fina */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Mantenha a sombra sutil */
    max-width: 400px; /* Aumente a largura máxima */
    width: 100%; /* Garanta que ele ocupe toda a largura disponível */
    margin: 0 auto; /* Centralize horizontalmente */
    margin-top: 20px; /* Adicione um espaço entre os dois quadrados */
    margin-bottom: 20px; /* Adicione margem inferior para afastá-lo do rodapé */
  }
  /* Estilo padrão para os links */
a {
    color: #3c150f; /* Cor normal dos links */
    text-decoration: none; /* Remover sublinhado padrão */
  }
  
  /* Estilo para os links visitados */
  a:visited {
    color: #2d0c07; /* Cor dos links após serem clicados */
  }



/* Estilo do rodapé */
footer {
    background-color: var(--color1); /* Cor de fundo do rodapé (Cor 1) */
    color: var(--text-color); /* Cor do texto do rodapé (Branco) */
    text-align: center;
    padding: 10px;
}

/* Estilo responsivo para telas menores (como aplicativos) */
@media screen and (max-width: 768px) {
    .menu ul {
        flex-direction: column; /* Exibe os itens do menu verticalmente em telas menores */
    }
}






